In [3]:
import pandas as pd
import numpy as np

dataFrame = pd.read_csv('CSV/used_car_price_dataset_extended.csv')

In [8]:
dataFrame.isnull().sum()

make_year                0
mileage_kmpl             0
engine_cc                0
fuel_type                0
owner_count              0
price_usd                0
brand                    0
transmission             0
color                    0
service_history       2038
accidents_reported       0
insurance_valid          0
dtype: int64

In [16]:
dataFrame['service_history'].isnull().sum()

np.int64(2038)